{{#*inline "page"}}
  <h3>Blog Posts</h3>
  <ul>
    <blockquote>Note! This blog is no longer active, and the posts are outdated by now. Many of them no longer reflect my current thoughts.</blockquote>
    <blockquote>These posts were created on various different versions of my website, therefore, much of the content (such as images) and layout may be broken. The remain here for historical preservation purposes!</blockquote>
    {{#each posts}}
      <li>
        <a href="{{path}}">{{name}}</a>
      </li>
    {{/each}}
  </ul>
{{/inline}}
{{> (lookup this "parent")}}